<%- include('./head.ejs') %>

<%- include('./nav.ejs') %>
<div class="not-found content">
    <h2>Ooops seems you lost your way in the web!</h2>

</div>
<%- include('./footer.ejs') %>

</body>

</html>