<%- include('./head.ejs') %>
<%- include('./nav.ejs') %>


<div class="about content">
    <h2>About</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur maxime totam, et voluptates aut cumque qui
        reprehenderit nam accusamus! Quasi, porro veniam. Ducimus nam, nisi sint aut laborum soluta necessitatibus?
    </p>

</div>
<%- include('./footer.ejs') %>

</body>

</html>